<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>

    <bean name="jobFactoryBean" class="com.vastiny.javaweb.quartz.mvcweb.quartz.JobFactoryContext">
        <property name="targetTaskMap">
            <map>
                <entry key="dataConversion" value="com.vastiny.javaweb.quartz.mvcweb.task.DataConversionTask"/>
                <entry key="syncUserDataTask" value="com.vastiny.javaweb.quartz.mvcweb.task.SyncUserDataTask"/>
            </map>
        </property>
    </bean>


</beans>